<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><?php  // Print the page title. 
	if (defined('TITLE')) {
			print TITLE;
		} else {  // In case the title is not defined. 
			print "Elliot Smith Fan Club";
		}
		?> </title>
	
	<style type="text/css">
	
	body {
			margin:0px 0px 0px 0px;
			background: #9F9;
		}
	#leftcontent {
			float:left;
			width: 67%;
			background: #fff;
			border-right:2px solid #000;
			border-bottom:2px solid #000;
			margin-right:15px;
			padding-bottom:20px;
		}
	p,h1,pre {
			margin 0px 30px 10px 30px;
			}
	
	h1 {
		
			font-size:14px;		
			padding-top:10px;
		}
	#rightcontent p {
			font-size:14px;
			margin-left:0px;
		}
	</style>	
	<!-- Script 8.2 - header.html -->
	<!-- BEGIN CHANGEABLE CONTENT -->
	
</head>
<body>

<div id="leftcontent">